.list {
    list-style-type: none;
    margin: 0px auto 10px;
    padding: 30px;
    background-color: white;
    width: 700px;
    box-shadow: 1px 5px 15px -2px
}
@media (max-width: 680px) {
    .list {
       max-width: 400px;
    }
  }
  @media (max-width: 450px) {
    .list {
      width: 300px;
    }
  }


.list__item {
    border-bottom: 2px solid rgb(23, 221, 162);
    padding: 7px;
    margin: 10px;
    display: grid;
    grid-template-columns: 30px minmax(auto, 485px) 30px;
    grid-gap: 20px 20px;
    align-items: center;


}


.list__item--done {
    text-decoration: line-through;
    color: rgba(23, 221, 162, 0.432);

}

.list__content {
    padding: 3px 30px;
    word-break: break-word;
    text-align: justify;
}


