html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgba(24, 23, 23, 0.103);
    height: 100%
}

.taskList__header {
    font-size: 30px;
    font-weight: 800;
    margin: 25px auto 25px;
    display: grid;
    align-items: start;
    justify-content: start;
}

.footer {
    grid-area: footer;
    background-color: rgb(23, 221, 162);
    color: white;
    text-align: center;
    padding: 11px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 35px;
    

}

.container__item {
    display: grid;




}